
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2C2F33;
}

img{
  width: 5vw;
  height: 5vh;
}

li img{
  padding-right: 30%;
  

}



h1 {
    position: relative;
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 4ch; 
   



}
h2{
  text-align: center;
  color: white;
  font-size: 4ch;
 
}



form {
    width: 300px;
    margin: 0, 0;
    padding-top: 10%;
    padding-left: 40%;
}

form label{
  color: rgb(0, 0, 0);
  font-weight: bolder;
}




input[type="submit"] {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    text-align:right;
    width: 100;
    height: 50px;
    font-size: 16px;
    
  

}
input[type="text"]{
  display:flex;
    width: 300px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding-left:3%;
}
.button1 {
  background-color: rgb(24, 24, 108);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
li a{
position:sticky;
top: 0;
font-size: 3ch;

}

 .square { 
   display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 60vh;
  background-color: #4E5154;
  color: white;
  border-radius: 50px;
  z-index: -1;
  padding-bottom:7%; 
}

.square2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 70vh;
  background-color: #4E5154;
  color: white;
  border-radius: 50px;
  z-index: -1;
  padding-bottom:0%;
}
.button-container {
  text-align: right;
}

.button {
  background-color: rgb(24, 24, 108);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
p {
  text-decoration: none;
  color:white;
  text-align: left;
  padding-left: 12%;
  padding-top: 12%;
  font-size: 6ch;
}

p2 {
  color:rgb(255, 254, 254);
  font-size: 5ch;
  text-align: center;
  padding-bottom: 5%;
  
}



.square a {
  font-size: 5ch;
  text-decoration: underline;
}

.square a:hover{
  transition: 0.3s;
  transform: scale(1.3);
  
}

[data-tab-content]{
  display:none;

}
.active[data-tab-content]{
  display:block
}

.tabs{
  display:flex;
  justify-content:space-around;
  list-style-type: none;
  margin:0%;
  padding: 0;
  border-bottom: 1px solid black;  

}
.tab{
  cursor: pointer;
  padding: 20px;
  font-size: 0.85rem;
}
.tabs.active{
  background-color: #ffffff;
}

.tab:hover {
  background-color: #2C2F33;
}

ul.tabs {
  background-color: #23272A;
}



.bttn {
  background-color: #7289DA;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
}

table {
      border-collapse: collapse;
      width: 100%;
      
    }

    th, td {
      border: 1px solid #000000;
      padding: 8px;
      text-align: left;
      
    }

    th {
      background-color: #fbfbfb;
    }

 
